<div class="table">
  <div class="thead">
    <div class="tr">
      <div class="th">Name</div>
      <div class="th">IP Address</div>
      <div class="th">Active Worker</div>
      <div class="th">Serial Number</div>
      <div class="th">MAC Address</div>
      <div class="th">Hash Rate</div>
      <div class="th">Temps</div>
      <div class="th">Actions</div>
    </div>
  </div>
  <div class="tbody">
    <div class="tr">
      <div class="td"></div>
      <div class="td"></div>
      <div class="td"></div>
      <div class="td"></div>
      <div class="td"></div>
      <div class="td"></div>
      <div class="td"></div>
      <div class="td"></div>
    </div>
  </div>
</div>