<div class="table" *ngIf="machinesInformations.length > 0">
  <div class="thead">
    <div class="tr">
      <div class="th">Name</div>
      <div class="th">IP Address</div>
      <div class="th">Active Worker</div>
      <div class="th">Serial Number</div>
      <div class="th">MAC Address</div>
      <div class="th">Hash Rate</div>
      <div class="th">Temps</div>
      <div class="th"></div>
    </div>
  </div>
  <div class="tbody" *ngFor="let mi of machinesInformations">
    <div class="tr">
      <div class="td">{{ mi.hostname }}</div>
      <div class="td">{{ mi.ip_address }}</div>
      <div class="td">{{ mi.active_worker }}</div>
      <div class="td">{{ mi.serial_number }}</div>
      <div class="td">{{ mi.mac }}</div>
      <div class="td">{{ mi.hash_rates }}</div>
      <div class="td"><button (click)="toggleTempsModalIsViewMode(); showTemps(mi)">Show Temps</button></div>
      <div class="td">
        <div class="select-actions">
          <select name="actions" id="actions">
            <option value="Restart">Restart</option>
            <option value="Change-Pool">Change Pool</option>
            <option value="Edit">Edit</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" *ngIf="tempsModalIsViewMode == true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Temps</h5>
      </div>
      <div class="modal-body">
        <div class="temps-container">
          <div class="temp" *ngFor="let t of miTemps">
            {{ t }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="toggleTempsModalIsViewMode()">Close</button>
      </div>
    </div>
  </div>
</div>