<div class="table" *ngIf="machinesInformations != []">
  <div class="thead">
    <div class="tr">
      <div class="th">Name</div>
      <div class="th">IP Address</div>
      <div class="th">Active Worker</div>
      <div class="th">Serial Number</div>
      <div class="th">MAC Address</div>
      <div class="th">Hash Rate</div>
      <div class="th">Temps</div>
      <div class="th">Actions</div>
    </div>
  </div>
  <div class="tbody" *ngFor="let mi of machinesInformations">
    <div class="tr">
      <div class="td">{{ mi.Name }}</div>
      <div class="td">{{ mi.IPAddress }}</div>
      <div class="td">{{ mi.ActiveWorker }}</div>
      <div class="td">{{ mi.SerialNumber }}</div>
      <div class="td">{{ mi.MACAddress }}</div>
      <div class="td">{{ mi.HashRate }}</div>
      <div class="td">{{ mi.Temps }}</div>
      <div class="td"></div>
    </div>
  </div>
</div>